* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


.circle {
  height: 500px;
  width: 500px;
  /* background-color: darkcyan; */
  border-radius: 30% 70% 42% 58% / 30% 26% 74% 70%;
  background-image: url("https://img.freepik.com/free-photo/medium-shot-smiley-man-sitting-desk_23-2149927603.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704758400&semt=ais");
  background-position: center;
  background-size: cover;
  box-shadow: 10px 10px 10px gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .circle button {
  background-color: crimson;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  color: antiquewhite;
} */ 
.circle button {
  background-color: crimson;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  color: antiquewhite;
}

.nav {
  background-color: #424244;
  padding: 10px 40px;
  position: fixed;
  width: 100vw;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0px 150px;
}
.nav ul li {
  list-style: none;
  font-size: 14px;
  color: #ffffff;
  margin: 8px;
  
}

.main-page {
  background-image: url("https://www.apple.com/v/home/bi/images/heroes/apple-vision-pro/hero_apple_vision_pro__e8407ehady6i_large.jpg");
  
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.main-page h1{
padding-top: 250px;
font-size: 50px;
margin-top: 50px;

}
.main-page .home{
  font-size: 25px;
  margin-bottom: 10px;
}
.main-page p{
  font-size: 20px;
  padding-top: 10px;
}
.main-page a{
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: #217BD0;
}
.main-page a:hover{
  text-decoration: underline;
  
}

.main-page2{
    background-image:url('https://www.apple.com/v/home/bi/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_large.jpg') ;
    height: 95vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.main-page2 h1{
    padding-top: 60px;
    font-size: 50px;
}
.main-page2 p{
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.main-page2 a{
  font-size: 20px;
  margin-right: 50px;
  text-decoration: none;
  color: #217BD0;
}
.main-page2 a:hover{
  text-decoration: underline;
}

.main-page3{
    background-image:url('https://www.apple.com/v/home/bi/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_large.jpg') ;
    height: 95vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 10px;
}
.main-page3 h1{
    padding-top: 60px;
    font-size: 60px;
}
.main-page3 p{
  font-size: 30px;
  padding-top: 4px;
  padding-bottom: 10px;
}
.main-page3 a{
  color: #217BD0;
  font-size: 20px;
  text-decoration: none;
  margin-right: 50px;
}
.main-page3 a:hover{
  text-decoration: underline;
}

.main-page4{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 95vh;
    margin-top: 10px;
  
}











.main-page4 .one{
  background-image: url('https://www.apple.com/v/home/bi/images/promos/apple-watch-series-9/promo_apple_watch_series_9_order__b3u85rm9zf6u_large.jpg');
  background-position: center;
  background-size: cover;
  width: 49%;
  text-align: center;
  margin-right: 10px;
  color: white;
}
.main-page4 .one h1{
  font-size: 32px;
  padding-top: 50px;

}
.main-page4 .one .head{
  font-size: 15px;
  color: red;
  padding-bottom: 12px;
}
.main-page4 .one p{
  font-size: 24px;
  padding-bottom: 12px;
}
.main-page4 .one a{
  text-decoration: none;
  color: #1D6DB8;
  margin-right: 30px;
  font-size: 18px;

}
.main-page4 .one a:hover{
  text-decoration: underline;
}
.main-page4 .two{
    background-image: url('https://www.apple.com/v/home/bi/images/promos/apple-watch-ultra-2/promo_apple_watch_ultra2_order__dyxqj5ia98om_large.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    text-align: center;
    margin-right: 2px;
}
.main-page4 .two h1{
  font-size: 32px;
  margin-top: 50px;
}
.main-page4 .two .foot{
  color: orange;
  font-size: 18px;
  padding-bottom: 10px;
}
.main-page4 .two p{
  font-size: 24px;
  padding-bottom: 10px;
}
.main-page4 .two a{
  color: #1D6DB8;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}
.main-page4 .two a:hover{
  text-decoration: underline;
}
.main-page5{
  display: flex;
    justify-content: space-between;
    width: 100%;
    height: 95vh;
    margin-top: 10px;
    margin-bottom: -30px;
}
.main-page5 .three{

  background-image: url('https://www.apple.com/v/home/bi/images/promos/macbook-pro-14-and-16/promo_mbp__ek7p477bkp6q_large.jpg');
  background-position: center;
  background-size: cover;
  width: 49%;
  height: 95%;
text-align: center;
}
.main-page5 .three h1{
  font-size: 38px;
  margin-top: 50px;
}
.main-page5 .three p{
  font-size: 22px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.main-page5 .three a{
  font-size: 18px;
  text-decoration: none;
  margin-right: 30px;
  color: #1D6DB8;
}
.main-page5 .three a:hover{
  text-decoration: underline;
}
.main-page5 .four {
  background-image: url('https://www.apple.com/v/home/bi/images/promos/apple-fitness-plus/promo_fitness_alt__ck26n46yeb2a_large.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 50%;
  height: 95%;
}
.main-page5 .four h1{
  font-size: 40px;
  margin-top: 50px;
}
.main-page5 .four p{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-page5 .four a{
  font-size: 18px;
  text-decoration: none;
  color:#1D6DB8;
  margin-right: 30px;
}
.main-page5 .four a:hover{
  text-decoration: underline;

}
.main6{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 95vh;
  margin-top: 10px;
}
.main6 .five{
  background-image: url('https://www.apple.com/v/home/bi/images/promos/apple-card/tile__cauwwcyyn9hy_large.jpg');
  background-position: center;
  background-size: cover;
  width: 49%;
  height: 95vh;
  text-align: center;
}
.main6 .five h1{
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 6px;

}
.main6 .five p{
  font-size: 20px;
  margin-bottom: 15px;
}
.main6 .five a{
  font-size: 18px;
  text-decoration: none;
  margin-left: 50px;
  color:#1D6DB8;
}
.main6 .five a:hover{
  text-decoration: underline;
  font-weight: 1000px;
}
.main6 .six{
  background-image: url('https://www.apple.com/v/home/bi/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_large.jpg');
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 95vh;
  text-align: center;
}
.main6 .six h1{
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 6px;
}
.main6 .six p{
  font-size: 20px;
  margin-bottom: 15px;
}
.main6 .six a{
  font-size: 20px;
  text-decoration: none;
  color:#1D6DB8;
}
.main6 .six a:hover{
  text-decoration: underline;
}
.main7{
  background-image: url('https://is1-ssl.mzstatic.com/image/thumb/WFcAzHblDIVkquiKvhUWqA/1679x945sr.webp');
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 90%;
  margin-left: 70px;
margin-top: 10px;
margin-bottom: -10px;
}
.paragraph .para{
  margin: 0px 200px;
}
.paragraph .para p{
  margin: 20px 0px;
  font-size: 13px;
  color: gray;
  font-weight: 400;
}
.paragraph .para :first-child{
  padding-top: 50px;
}
.footer{
  padding: 0px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  
}
.footer ul li{
  list-style: none;
  padding:6px 0px;
  font-size: 13px;
  color: gray;
  font-weight: 400;
}
.last-footer{
  color: gray;
  padding: 0px 200px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.last-footer div{
  display: flex;
  justify-content: space-around;
}
.last-footer p{
  font-size: 13px;
  color: gray;
  margin: 20px 0px;
  font-weight: 400;
  
}
.color{
  background-color: #F5F5F7;
}
.cursor{
  cursor: pointer;
}

